<h2>ACTUALIZAR USUARIO</h2>
<form class="p-4">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre del usuario</label>
        <input type="text" class="form-control" id="name" style="color: red;">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Apellido del usuario</label>
        <input type="text" class="form-control" id="lastName">
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="username" style="color: red;">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo del usuario</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" style="color: red;">
    </div>
    <div class="mb-3">
        <label class="form-label" for="imgUrl">Imagen del usuario</label>
        <input type="text" class="form-control" id="imgUrl" style="color: red;">
    </div>
    <button type="submit" class="btn btn-light btn-outline-secondary">Guardar</button>
</form>